@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Montserrat';
}

.profil__img-dropshadow{
    box-shadow: 0 3px 5px 0px rgba(0, 45, 103,0.34);
}
.btn__dropshadow-blue{
    box-shadow: 0 3px 11px 0px rgba(0, 45, 103,0.06);
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
}
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background: white;
    box-shadow: 0 3px 4px 0px rgba(0, 45, 103,0.12);
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
  
  .slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: white;
    box-shadow: 0 3px 4px 0px rgba(0, 45, 103,0.12);
    cursor: pointer;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.button-column{
    grid-template-columns: 60px 1fr;
}
.light-grid{
  grid-template-columns: 36px 1fr;
}
.btn-variations:nth-child(even){
background-color: #093B7B;
color: white;
}
.header-width {
    width: 10ch;
}

.keyframeFun{
  animation-name: fun;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.keyframeParty{
  animation-name: party;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.keyframeBirthday{
  animation-name: birthday;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.keyframeRelax{
  animation-name: relax;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes party {
  0%{ background-color: red;}
  20%{ fill: yellow;}
  40%{ fill: green;}
  60%{ fill: blue;}
  80%{ fill: purple;}
  100%{ fill: pink;}
}
@keyframes birthday {
  0%{ fill: red;}
  33%{ fill: white;}
  66%{ fill: red;}
  100%{ fill: white;}
}
@keyframes relax {
  0%{ fill: white;}
  50%{ fill: cyan;}
  100%{ fill: white;}
}
@keyframes fun {
  0%{ fill: green;}
  10%{ fill: lime;}
  20%{ fill: darkgreen;}
  30%{ fill: limegreen;}
  40%{ fill: green;}
  50%{ fill: lime;}
  60%{ fill: darkgreen;}
  70%{ fill: limegreen;}
  100%{ fill: green;}
}


.gradientBirthday {
  background: rgb(255,155,155);
background: linear-gradient(54deg, rgba(255,155,155,1) 14%, rgba(255,188,145,1) 100%);
}
.gradientParty {
  background: rgb(166,147,235);
background: linear-gradient(54deg, rgba(166,147,235,1) 14%, rgba(218,147,235,1) 100%);
}
.gradientRelax {
  background: rgb(147,202,235);
background: linear-gradient(54deg, rgba(147,202,235,1) 14%, rgba(147,221,235,1) 100%);
}
.gradientFun {
  background: rgb(137,221,148);
background: linear-gradient(54deg, rgba(137,221,148,1) 14%, rgba(191,236,146,1) 100%);
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./assets/fonts/montserrat/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./assets/fonts/montserrat/Montserrat-Bold.ttf) format('truetype');
}

/* Input related stuff */
.inputtrigger{
  overflow: hidden;
}
.inputtrigger, .labelanimation{
  transition:0.125s;
  -webkit-transition:0.125s;
  -moz-transition:0.125s;
  -ms-transition:0.125s;
  -o-transition:0.125s;
}
.transitionspeed {
  transition: .5s;
}

.inputbar{
  height: 4px;
  width: 100%;
  background: #FFD139;
  position: absolute;
  bottom:0px;
  left: -100%;
  z-index: 11;
  transition: 0.125s ease-in-out;
  -webkit-transition: 0.125s ease-in-out;
  -moz-transition: 0.125s ease-in-out;
  -ms-transition: 0.125s ease-in-out;
  -o-transition: 0.125s ease-in-out;
}
.inputtrigger:focus ~ .inputbar {
  left: 0;
}
.inputtrigger:focus ~ .labelanimation{
  transform: translateY(-40px);
  font-size: 1rem;
  left: 0;
  pointer-events: none;
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
}
.calenderformater {
  grid-template-columns: repeat(7,1fr);
}
.grafikselem::before,
.grafikselem::after
{
  position: absolute;
  height: 2px;
  
  top: 50%;
  width: 100%;
  content: '';
  z-index: 3;
}
.grafikselem::before {
  left: 0;
}
.grafikselem::after{
right: 0;
}